<!doctype html>
<html>
	<head>
		<title>Chat App | Chatroom</title>
	</head>
	<body>
		<h1>Chat Application</h1>
		<h2>{{ username }} - Logged In</h2>

		<form action="logout">
			<input type="submit" value="Logout">
		</form>

		<h2>Chatroom</h2>
		<form action="/addmessage" method="post">
			<input name="message" type="text" placeholder="Enter message">
			<input type="submit" value="Send">
		</form>

		<h2>Messages</h2>
		{% for m in messages|reverse %}
			<p>From: {{ m["username"] }}</p>
			<p>{{ m["message"] }}</p>
			<hr>
		{% endfor %}
	</body>
</html>

